/* --- calendar --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#calendar #ftcalendar-div {
	background: none;
	border: none;	

	#ftcalendar-feeds { }
	
	#ftcalendar-nav { 
		overflow: hidden;
		position: relative; 

		span {
			display: block;
			width: 2em; height: 2em; 
			position: absolute; 

			a { display: block; width: 100%; height: 100%; color: #444;   }
		}

		#ftcalendar-prev {
			left: 0; top: 0;

			a {  }
		}

		#ftcalendar-next {
			right: 0; top: 0;
			a { text-align: right; }
		}

		#ftcalendar-current {
			left: 0; top: 0;
			width: 100%; 
			text-align: center; 
		}

	}

	#ftcalendar-table { 
		background: none; 
		border-spacing: 0;
		border: solid #CCC;
		border-width: 1px 0 0 1px;

		th, td {
			border-top-color: #FFF;
			border-left-color: #FFF;
			border-right-color: #CCC;
			border-bottom-color: #CCC;
		}

		th {
			padding: 0.2em 0; 
			background: rgba(0, 0, 0, 0.1); 
			
		}

		td { 
			background: none;
		
			.ftcalendar-event-date {
				background: rgba(0, 0, 0, 0.05); 
				padding: 0.2em 0.2em 0.2em 0; 
			}
		
			&.current_day {
				background: rgba(255,255,255, 0.8); 

				.ftcalendar-event-date {
					background: rgba(0, 0, 0, 0.03); 
				}
		   	}

			.ftcalendar-events-div {
				background: none; 

				.ftcalendar-event {
					background: none; 
					border: none;

					div {
						background: rgba(255,255,255, 0.8);
						border: none;
						border-bottom: 1px solid #DDD; 

						a { display: block; padding: 0.1em 0 0.2em 0;  }
					}
				}
			}
		}
	}

	#ftcalendar-legend { }
}


