.list-wrapper {
	width: 65%;
	margin-right: 5%; 
	float: left; 

	& + aside {
		width: 30%;
		float: left; 
	}
}



article.entry {
	padding: 0 0 2em 0; 

	header {

		h3 {
			a { color: #333; display: block;  } 
		}

		p.meta {
			background: #E5E5E5; 
			font-size: 0.9em;
			line-height: 1em;
			padding: 0.5em 0.8em; 
			margin-top: -0.5em; 
			margin-bottom: 0.5em; 
			&, a { color: #666; }
			&:hover a { color: #000; } 
		}
	}

	.content {
	}

	&:hover {
		h3 a { color: #000; }
	}
}

article.page {
	overflow: hidden; 

	header {
		padding: 0 0 1em 0; margin-bottom: 1em; 
		border-bottom: 1px solid $colorBorderMain; 

		h1 {
			font-size: 4em; 

			@include text-shadow(#EEE 2px 2px 0px, #999 4px 4px 0px);

			a { color: #333; }
		}
	}

	& > header {
		border-bottom-width: 2px;
		padding: 0;
		margin-bottom: 2em; 

		h1 {
			padding-bottom: 0.4em; 
			border-bottom: 2px solid #FFF; 
		}
	}
}

article.columns {
	overflow: hidden; 
	
	section header {
		padding: 0;
		border-color: #CCC;

		h3 { 
			padding: 0 0 0.2em 0;
			border-bottom: 1px solid #FFF; 
	   	}
	}

	.content {
		width: 68%;
		float: left;
	}

	.sidebar {
		width: 28%;
		float: left;
		margin-left: 4%;
	}
}

.gallery {
	li {
		a {
			img { }
		}
	}
}

.messages {
	overflow: hidden; 

	ul { padding: 0.1em; overflow: hidden; }

	ul li {
		display: block; width: 33%; float: left; list-style-type: none !important; 
		
		.tweet_user { display: block; float: left; }
		.tweet_user:before { content: '@'; }
		.tweet_user:after { content: ', '; }
		.tweet_time { display: block; float: left; padding-left: 5px; }
		.tweet_avatar { display: block; float: left; margin: 9px 1em 0 0.1em; clear: left; }
		.tweet_text { display: block; padding: 0 1em 0 4.2em; margin: 5px; }

	}
	
	#tweets li:nth-child(3n-2) { 
		clear: both; 
	}
	
	aside &#tweets ul li { width: auto; padding-bottom: 2em;  } 

	#gatekeeper {
		li .tweet_text { padding-left: 0; } 
	}

	#presence {
		ul { overflow: hidden; }
		li { width: 20%; padding-bottom: 1.5em; }
	}
}


#flickr {
	padding: 0;
	li { list-style: outside none; display: block; padding: 10px; float: left; }
}

#searchform {
	border-bottom: 2px solid $colorBorderMain;

	& > div {
		padding: 1em 3em;
		overflow: hidden;
		border-bottom: 2px solid $colorBorderSecondary;
	}
	
	#s { width: 60%; font-size: 1.2em;  float: left; margin-right: 0.5em;  }
	#searchsubmit { @extend .button; float: left; padding: 0.55em 2.2em 0.65em 2.2em; }
}

#smallmap {
	width: 100%;
	height: 200px; 
	border: 2px solid #999;
	@include box-shadow(#CCC 0 0 5px);
	@include border-radius(8px);
}
