/* --- Forms --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

form { 
	overflow: hidden; padding-top: 1em; 
	
	ul, li { padding: 0;  margin: 0; }
	li { list-style: none outside; }

	h2 { font-size: 2em; font-weight: normal;  }
}

.gsection { width: auto !important; float: none !important; overflow: hidden; clear: both;  }

#gform_1 {
	li.gfield { width: 45%; margin-right: 4%; float: left; }
}

