.entry {

	& > header {
		

		h1 { }
		a { }
	}

	& > .cnt {

	}

	& > footer {

	}

	&.faq {
		padding-top: 0; padding-bottom: 0; border: none !important;
		
		& > header { cursor: pointer; }
		& > header h3::before { 
			display: block;
			float: left; 
			margin-top: -2px; 
			margin-right: 0.4em; 
			content: "\BB"; 
			
			@include transform-style(preserve-3d);     
			@include transform(rotate(0deg));
		}
		& > .cnt { 
			max-height: 1px; overflow: hidden;
			@include single-transition(max-height, 0.4s, linear);
		}
		&:target > .cnt { max-height: 300px; }

		&:target { padding-bottom: 2em; }
		&:target > header h3::before {
			margin: 0 0.48em 0 -2px; 
			@include transform(rotate(-90deg));
		}
	}
}

.single {

}

.archive {
	.entry {

	}
}

.post-type-archive-faq #main { padding: 1.6em 0 1em 0; }
