header .menu {
	padding: 0; text-align: left; 

	li {
		display: inline; padding: 0; line-height: 1em; 

		a { 
			display: inline; padding: 0 1.3em; color: #333; line-height: 2.5em; 

			@include text-shadow(#FFF 2px 2px 0px);

			&:hover {
				color: #369; 
			}
		}
	}

	li:first-child { padding-left: 1.3em; }

	li::after,
	li:first-child:before {
		content: '\2022';
		color: #AAA; 
	}

}

.breadcrumbs {
	height: 3em; color: #999; font-size: 1em;  text-indent: 1em; line-height: 3em; overflow: hidden; clear: both; 

	a {
		color: #666; 
		display: inline; 
		@include text-shadow(#FFF 1px 1px 0);

		&:hover { text-decoration: underline; } 
	}

	/*@include background-image(linear-gradient(rgb(224, 224, 224), #EEE));*/
}

