body { -webkit-font-smoothing: inherit; }

a { text-decoration: none; } 

body, form, input, select, option, button, textarea,
table, td, th { font: 100%/1.4em "Lucida Grande", Lucida, Georgia, serif; }

h1, h2, h3, h4, h5, h6 { font: normal 1em/1.3em "Lucida Grande", Georgia, serif; margin: 0; }

h1 { font-size: 2.636em; padding-bottom: 0.1em;  }
h2 { font-size: 2.118em; padding-bottom: 0.4em;  }
h3 { font-size: 1.818em; padding-bottom: 0.5em;  }
h4 { font-size: 1.236em; padding-bottom: 0.5em;  }
h5 { font-size: 1.136em; font-weight: bold; }
h6 { font-size: 1.0em; font-weight: bold; }

a { text-decoration: none; }
p { padding-bottom: 1.5em; margin: 0;  }
ol, ul { padding-left: 1.4em; padding-bottom: 1.5em; }
ul ul, ol ol, ul ol, ol ul, blockquote, dl { padding: 0.6em 1em; margin-bottom: 1em;  }
p + blockquote { margin-top: 0; }

li {
	display: list-item; 
	padding-bottom: 0.4045em; 

	&:last-child { padding-bottom: 0; }

	ul > & { list-style: outside disc; }
	ol > & { list-style: outside decimal; }
}

blockquote { 
	border-radius: 0.6em;
	margin: 0 0 0 0.5em;
	padding-bottom: 1.5em;
	
	p:last-child { padding: 0; }
}

dl dt { padding-bottom: 0.4em; }
dl dd { padding: 0 0 0.4em 0.908em; }

